.createArea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  gap: 10px;

  > input, > textarea {
    width: 80%;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #1b531d;
    border-radius: 4px;
    background-color: #61ca64;
    color: #0a440c;
    
  }

  >button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
  }
}
