* {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
 }

 body {
  background-color: antiquewhite;
  height: 100vh;
 }
.container {
  display: grid;
  /* grid-template-columns: auto 1fr auto; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}